* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3c153b;
    font-size: 14pt;
    color: #f0c987;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;

}

button {
    background-color: #8b1e3f;
    color: #89bd9e;
    border: none;
    padding: 5px;
    cursor: pointer;

}

.container {
background-color: #db4d403f;
padding: 40px;
display: flex;
flex-direction: column;
gap: 10px;
border-radius: 5px;
}

.btn-count {
width: 60px;
height: 60px;
font-size: 30pt;
font-weight: 1000;
}

#contador {
    display: flex;
    gap: 40px;
    align-items: center;
    min-width: 14rem;
    justify-content: space-around;
}

#valor {
    font-size: 6rem;
    font-weight: bold;
}

#reset {
    height: 60px;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 1000;


}

button:hover {
    opacity: .7;
}

p {
    margin: 20px auto;
    text-transform: uppercase;
    letter-spacing: 4px;
}